POSTGRES_HOST=postgres
POSTGRES_PORT=5432
REDIS_ADDR="redis:6379"

POSTGRES_USER=user
POSTGRES_PASSWORD=pass
POSTGRES_DB=shortener

JWT_SECRET=secret

SHORT_CODE_TTL=5m
ACCESS_TOKEN_TTL=5m
REFRESH_TOKEN_TTL=3h
WORKER_INTERVAL=5s

HTTP_PORT=8080